<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <script type='text/javascript'>
      var APPDATA = {}

      APPDATA.index = <%- JSON.stringify(data) %>;

    </script>


    <script type='text/javascript' src='/js/jquery-1.7.2.min.js'></script>
    <!--script type='text/javascript'
    src='/js/jquery-ui-1.8.21.custom/jquery-ui-1.8.21.custom.min.js'></script-->
    <script type='text/javascript' src='/js/socket.io.js'></script>
    <script type='text/javascript' src='/js/underscore-min.js'></script>
    <script type='text/javascript' src='/js/backbone-min.js'></script>
    <script type='text/javascript' src='/js/template-manager.js'></script>
    <script type='text/javascript' src='/js/json2.js'></script>
    <script type='text/javascript' src='/js/master.js'></script>




    <link rel='stylesheet' type='text/css' href='/css/header.css'>











  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/auth/google">yee login boi</a>
<<<<<<< HEAD
=======
  <div id=""video-list-view-container"></div>

  <div id="playlist-view-container">
      <div id="video-list-view-container"></div>
  </div>
  <div id="player-view-container"></div>

>>>>>>> 6d8b823b55e5f30eceeb3c38f714f62ed7f01f7f
    <div id="tdmApp">
      <div id="player-video-view"></div>

      ]
      <div id="chat-container"></div>
      <div id="chat-title"></div>
      <div id="chat-messages-window">

      </div>
      <textarea id="chat-text-input-box" class='input-xlarge' rows='1'></textarea>
    </div>




  </body>
</html>
