<div class="chat-message-item">

  <div class="chat-message-image-container">
    <img class="chat-message-image" src="<%=image.url%>" width="<%=image.dimension%>" height="<%=image.dimension%>">
  </div>
  <div class="chat-message-details">
      <div class="chat-user-name"><%= msgData.user%></div>
       <div class="chat-message" data-chat-msg-item="<%=dataIdentity%>">
         <%= msgData.message %>
        </div>
      <br>
      </div>
  </div>
<div class="chat-message-sent-time" data-chat-msg-time='<%=dataIdentity+"-time"%>'>
  <%= msgData.dateString%>
</div>
<div class="chat-message-divider"></div>